body {
    font-size: 1.6rem;
    margin: 0px;
    padding: 0px;
}
html {
    font-size: 15px;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
.titlediv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #title {
    font-size: 46px;
}
#main {
    border-radius: 5px;
    background-color: #eee;
    margin: 10px;
    margin-top: 30px;
}
#img-div {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img-caption {
    margin-top: 10px;
    margin-bottom: 10px;
}