body {
    font-size: 1.6rem;
    margin: 0px;
    padding: 0px;
}
html {
    font-size: 15px;
}
img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
.titlediv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
